.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 250px;
    max-width: 100%;
  }
  
  .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .closeButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .errorText {
    color: red;
    font-size: 0.875rem;
    margin-top: -0.9rem;
  }
  
  